*{
    padding: 0px;
    margin: 0px;
}
.App{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    height:2.2em;
    width: 8em;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 1.1em;
}